@using Sfa.Tl.Find.Provider.Infrastructure.Authorization
@using Sfa.Tl.Find.Provider.Infrastructure.Extensions

@if (Context.User.Identity!.IsAuthenticated)
{
    var ukPrn = Context.User.GetClaim(CustomClaimTypes.UkPrn);

    <div class="tl-accountbar">
    <p>
        <span>@Context.User.GetClaim(CustomClaimTypes.OrganisationName)</span>
        @if (!string.IsNullOrEmpty(ukPrn))
        {
            <span>[UKPRN:@ukPrn]</span>
        }
        </p>
        @*<button type="button" role="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>*@
        <div class="tl-accountbar--nav">
            <a class="govuk-link tl-accountbar--link" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </div>
    </div>
}
