<!DOCTYPE html>
<html lang="en" class="govuk-template ">
<partial name="_DocumentHead" />


<body class="govuk-template__body ">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_TimeoutModal" />
    }

    <partial name="_CookieBanner" />

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    <partial name="_Header" />
    <div class="govuk-width-container">
        <partial name="_PhaseBanner" />
        <partial name="_Header_Nav" />
    </div>
    <div class="govuk-width-container">
        @RenderSection("breadcrumbs", required: false)
        <main class="govuk-main-wrapper" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>
    <partial name="_Footer" />

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/tlevels.min.js" asp-append-version="true"></script>
    <script src="~/js/all.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        window.GOVUKFrontend.initAll()
    </script>

    @if (User.Identity.IsAuthenticated)
    {
        @*<script nws-csp-add-nonce="true" src="~/js/session-timeout.min.js"></script>*@
        <script nws-csp-add-nonce="true" src="~/js/session-timeout.js"></script>
    }
</body>

</html>