@page
@model Sfa.Tl.Find.Provider.Web.Pages.Provider.AddNotificationModel
@{
    ViewData["Title"] = "Add a notification";
}

@section breadcrumbs {
    <a asp-page="./Notifications" class="govuk-back-link" id="tl-back">Return to notifications</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Add a new notification</h1>

        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="email">
                Email address
            </label>
            <div id="email-hint" class="govuk-hint">
                This is the email address that will receive notifications
            </div>
            <input class="govuk-input govuk-input--width-20" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="campus">
                Campus
            </label>
            <div id="campus-hint" class="govuk-hint">
                Select the campus you want to set up a notification for
            </div>
            <select class="govuk-select" id="campus" name="campus" aria-describedby="campus-hint">
                <option value="Campus A">Campus A</option>
                <option value="Campus B">Campus B</option>
            </select>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="frequency">
                Notification frequency
            </label>
            <select class="govuk-select" id="frequency" name="frequency">
                <option value="Immediately">Immediately</option>
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
            </select>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="within">
               Receive notifications for employers within:
            </label>
            <select class="govuk-select" id="within" name="within">
                <option value="5 miles">5 miles</option>
                <option value="10 miles">10 miles</option>
                <option value="20 miles">20 miles</option>
                <option value="30 miles">30 miles</option>
                <option value="40 miles">40 miles</option>
                <option value="50 miles">50 miles</option>
            </select>
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="skillarea-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading govuk-!-margin-top-3">
                        Receive notifications for employers interested in the following skill areas:
                    </h3>
                </legend>
                <div id="skillarea-hint" class="govuk-hint">
                    If nothing is selected, you will receive notifications for all skill areas
                </div>
                <div class="govuk-checkboxes govuk-!-margin-top-4" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="agriculture" name="agriculture" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="agriculture">
                            Agriculture, Environment and Animal Care
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="business" name="business" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="business">
                            Business and Administration
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="arts" name="arts" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="arts">
                            Arts, Entertainment, and Recreation
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="catering" name="catering" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="catering">
                            Catering
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="construction" name="construction" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="construction">
                            Construction and the Built Environment
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="craft" name="craft" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="craft">
                            Craft and Design
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="creative" name="creative" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="creative">
                            Creative and Design
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="digital" name="digital" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="digital">
                            Digital and IT
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="education" name="education" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="education">
                            Education and Childcare
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="engineering" name="engineering" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="engineering">
                            Engineering and Manufacturing
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="hair" name="hair" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="hair">
                            Hair and Beauty
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="health" name="health" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="health">
                            Health and Science
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="legal" name="legal" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="legal">
                            Legal, Finance and Accounting
                        </label>
                    </div>
                </div>

            </fieldset>
        </div>
        <button class="govuk-button govuk-!-margin-right-2">Save and finish</button>
        <button class="govuk-button govuk-button--secondary">Add another notification for this email</button>
        <a asp-page="./Notifications" class="govuk-link govuk-!-padding-2 tl-display--inline-block">Cancel</a>
    </div>
</div>
