@page
@model Sfa.Tl.Find.Provider.Web.Pages.Provider.AddNotificationModel
@{
    ViewData["Title"] = "Add a notification";
}

@section breadcrumbs {
    <a asp-page="./Notifications" class="govuk-back-link" id="tl-back">Return to notifications</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add a new notification</h1>
    </div>
</div>
