@page "{id}"
@model Sfa.Tl.Find.Provider.Web.Pages.Provider.EditNotificationModel
@{
    ViewData["Title"] = $"Edit notification for {Model.Notification?.LocationName?.ToUpper()} [{Model.Notification?.Postcode}]";
}

@section breadcrumbs {
    <a asp-page="./Notifications" class="govuk-back-link" id="tl-back">Return to notifications</a>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                @*<li><a sfa-validation-for="Input!.Email" href="#Input_Email"></a></li>*@
            </ul>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Edit notifications for @Model.Notification?.Email</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post">
            <input asp-for="Input!.Id" type="hidden" />
            <table class="govuk-table tl-employers--table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Campus</th>
                    <th scope="col" class="govuk-table__header">Radius</th>
                    <th scope="col" class="govuk-table__header">T Levels</th>
                    <th scope="col" class="govuk-table__header">Frequency</th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header tl-wordwrap">
                        Alesford Campus
                    </th>
                    <td class="govuk-table__cell tl-table__cell__list">
                        <div class="tl-employers--table--inline-header"><strong>Radius</strong></div>
                        <div class="tl-employers--table--inline-cell">
                            <p> 20 miles</p>
                        </div>
                    </td>
                    <td class="govuk-table__cell tl-table__cell__list">
                        <div class="tl-employers--table--inline-header"><strong>T Levels</strong></div>
                        <div class="tl-employers--table--inline-cell">
                            <p>Test</p>
                            <p>Test 2</p>
                        </div>
                    </td>
                    <td class="govuk-table__cell tl-table__cell__list">
                        <div class="tl-employers--table--inline-header"><strong>Frequency</strong></div>
                        <div class="tl-employers--table--inline-cell">
                            <p> Daily</p>
                        </div>
                    </td>
                    <td class="govuk-table__cell">
                        <a asp-page="./AddNotification" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-5">Change</a>
                        <a asp-page="./RemoveNotification" class="govuk-link govuk-link--no-visited-state">Remove</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <a asp-page="./AddNotification" class="govuk-button">Add notification for another campus</a>
    </div>
</div>

