@page
@model Sfa.Tl.Find.Provider.Web.Pages.Provider.EditNotificationModel
@{
    ViewData["Title"] = "Edit notifications";
}

@section breadcrumbs {
    <a asp-page="./Notifications" class="govuk-back-link" id="tl-back">Return to notifications</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Edit notifications for @Model.NotificationEmail?</h1>
    </div>
</div>
