@page
@model Sfa.Tl.Find.Provider.Web.Pages.Provider.EditNotificationCampusModel
@{
    //ViewData["Title"] = $"Edit notification for {Model.Notification?.LocationName?.ToUpper()} [{Model.Notification?.Postcode}]";
}

@section breadcrumbs {
    @*TODO - set providernotificationid here*@
    <a asp-page="./EditNotifications" class="govuk-back-link" id="tl-back">Return to notifications</a>
}
