@page
@model Sfa.Tl.Find.Provider.Web.Pages.Provider.SearchFiltersModel
@{
    ViewData["Title"] = "Search filters";
}

@section breadcrumbs {
    <a asp-page="/Employer/EmployerList" class="govuk-back-link" id="tl-back">Return to employer list</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Search filters</h1>
        <p class="govuk-body">Select a campus to change what you see on the <a asp-page="/Employer/EmployerList" class="govuk-link govuk-link--no-visited-state">employer list page</a></p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table tl-employers--table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Campus</th>
                    <th scope="col" class="govuk-table__header">Search radius</th>
                    <th scope="col" class="govuk-table__header">T Levels</th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var searchFilter in Model.SearchFilterList)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header tl-wordwrap">
                            <div class="tl-employers--table--inline-header"><strong>Campus</strong></div>
                            <div class="tl-employers--table--inline-cell">
                                <p>@($"{searchFilter.LocationName?.ToUpper()} [{searchFilter.Postcode}]")</p>
                            </div>
                        </th>
                        <td class="govuk-table__cell tl-table__cell__list">
                            <div class="tl-employers--table--inline-header"><strong>Search radius</strong></div>
                            <div class="tl-employers--table--inline-cell">
                                <p>@(searchFilter.SearchRadius ?? Model.DefaultSearchRadius) miles</p>
                            </div>
                        </td>

                        <td class="govuk-table__cell tl-table__cell__list">
                            <div class="tl-employers--table--inline-header"><strong>T Levels</strong></div>
                            <div class="tl-employers--table--inline-cell">
                                @if (searchFilter.Routes is not { Count: > 0 })
                                {
                                    <p>All</p>
                                }
                                else
                                {
                                    @foreach (var route in searchFilter.Routes)
                                    {
                                        <p>@route.Name</p>
                                    }
                                }
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <a asp-page="./SearchFilterDetails" asp-route-id="@searchFilter.LocationId" class="govuk-link govuk-link--no-visited-state">Change</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
