@page
@{
    ViewData["Title"] = "Accessibility statement";
    ViewData["Indexed"] = "True";
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

        <p class="govuk-body">
            This website is run by the Department for Education (DfE).
        </p>
        <p class="govuk-body">
            We want as many people as possible to be able to use this website.
        </p>
        <p class="govuk-body">
            For example, that means you should be able to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>navigate most of the website using just a keyboard</li>
            <li>navigate most of the website using speech recognition software</li>
            <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>
        <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>

        <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link" target="_blank">AbilityNet (opens in a new window or tab)</a> has advice on making your device easier to use if you have a disability.</p>
        <h2 class="govuk-heading-l">What to do if you cannot access parts of this website</h2>
        <p class="govuk-body">Contact us if you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>need information on this website in a different format, like accessible PDF or large print</li>
            <li>find any accessibility problems or want to bring any accessibility issues to our attention</li>
        </ul>
        <p class="govuk-body">We’ll aim to get back to you within 5 working days: <a href="mailto: support.deliveringtlevels@education.gov.uk" class="govuk-link">support.deliveringtlevels@education.gov.uk</a></p>


        <h2 class="govuk-heading-l">Enforcement procedure</h2>
        <p class="govuk-body">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
        </p>
        <p class="govuk-body">
            If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/" class="govuk-link" target="_blank">Equality Advisory and Support Service (EASS) (opens in a new window or tab)</a>.
        </p>


        <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
        <p class="govuk-body">The DfE is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
</p>
        <p class="govuk-body">Currently, this website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link" target="_blank">Web Content Accessibility Guidelines version 2.1 (opens in a new window or tab)</a> AA standard, due to content that’s not fully accessible. </p>

        <h2 class="govuk-heading-l">How we tested this website</h2>
        <p class="govuk-body">This website was last tested on 18th November 2022 by the DfE development team who built the website.</p>
        <h2 class="govuk-heading-l">What we’re doing to improve accessibility</h2>
        <p class="govuk-body">We plan to provide new functionality to this service and as part of its development we will review its accessibility. </p>
        <p class="govuk-body">We will also continuously review the accessibility and update this statement when necessary.</p>
        <p class="govuk-body">This statement was prepared on 25 October 2022.</p>

    </div>
</div>