@page
@model Sfa.Tl.Find.Provider.Web.Pages.Help.InfoModel
@{
    ViewData["Title"] = "Information about the service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

        <h2 class="govuk-heading-l">User roles</h2>
        <ul class="govuk-list govuk-list--bullet">
            @foreach (var role in Model.UserRoles.OrderBy(x => x))
            {
                <li>@role</li>
            }
        </ul>

        <h2 class="govuk-heading-l">Other claims</h2>
        <ul class="govuk-list govuk-list--bullet">
            @foreach (var claim in Model.UserClaims.OrderBy(x => x.Key))
            {
                <li><strong>@claim.Key</strong>: @claim.Value</li>
            }
        </ul>
    </div>
</div>