@page
@{
    ViewData["Title"] = "Terms and conditions";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
        <p class="govuk-body">‘Connect with employers interested in T Levels’ is run by the Department for Education (DfE).</p>
        <p class="govuk-body">By using this service, you agree to these terms and conditions.</p>

        <h2 class="govuk-heading-l">Our responsibilities</h2>
        <p class="govuk-body">
            We do our best to make sure the service is constantly available, virus free and that the information we provide is accurate and complete.
        </p>
        <p class="govuk-body">However, the DfE accepts no liability for:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>you being unable to access the service (for example, because of excessive demand or because it’s been taken down for maintenance)</li>
            <li>delay or failure in receiving data</li>
            <li>indirect damages arising from you using the service or relying on its content</li>
            <li>the content and availability of external websites that link to the service or which are linked from it</li>
        </ul>
        <p class="govuk-body">We may remove, or amend your rights to use this service if you are in breach of the terms set out in the ‘your responsibilities’ section, below.</p>
        <p class="govuk-body">Our decision in the event of a breach shall be final.</p>

        <h2 class="govuk-heading-l">How we gather and use your data</h2>
        <p class="govuk-body">We will only gather sufficient information so as to establish your identity and level of access to the service. </p>
        <p class="govuk-body">In doing so, we will comply with the General Data Protection Regulation (GDPR) and ensure that any personal data (as defined by GDPR) is protected, used only for the purposes for which it was obtained and disposed of accordingly.</p>
        <p class="govuk-body">
            We may also from time to time use your contact information to ask you if you would like to take part in research or surveys we’re doing.
        </p>

        <h2 class="govuk-heading-l">Your responsibilities</h2>
        <p class="govuk-body">You are responsible for all activities associated with your username and password and accept responsibility for all activities associated with your account.</p>
        <p class="govuk-body">You agree to comply with any amendments to these terms and conditions.</p>
        <p class="govuk-body">
            You must:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>only use the employer details listed on this service for the intended purpose</li>
            <li>not use the employer details listed for marketing purposes</li>
            <li>not use the employer details listed once the expiration date for the employer interest has passed</li>
            <li>comply with General Data Protection Regulation (GDPR) and ensure that any personal data (as defined by GDPR) is protected, used only for the purposes for which it was obtained and disposed of accordingly</li>
            <li>comply with the UK Computer Misuse Act 1990</li>
            <li>contact us as soon as you become aware of any security breach</li>

        </ul>
        <h2 class="govuk-heading-l">Contact</h2>

        <p class="govuk-body">If you have any problems using the ‘Connect with employers interested in T Levels’ service or want to flag any content that you think is inaccurate or inappropriate, please email <a href="mailto: support.deliveringtlevels@education.gov.uk" class="govuk-link">support.deliveringtlevels@education.gov.uk</a></p>
    </div>
</div>