.tl-wordwrap {
    word-break:break-word;
}

.tl-prewrap {
    white-space: pre-wrap;
}

.tl-nobreak {
    word-break:keep-all;
    white-space:nowrap;
}

@for $i from 1 through 10 {

    .tl-lineheight--#{$i * 5} {
        line-height: $i * 5px;
    }
}
