@page
@model FindTileModel
@{
    ViewData["Title"] = "Find tile";
}

<main id="main-content" role="main">
    <div class="govuk-width-container govuk-main-wrapper govuk-!-padding-top-0">
        <div class="govuk-grid-row govuk-!-margin-top-7 tl-fap-home--container">
            <div class="govuk-grid-column-two-thirds">
                <div class="tl-card--grey">
                    <h1 class="govuk-heading-l govuk-!-margin-top-2 govuk-!-margin-bottom-7">Find a T Level school or college</h1>
                    <p class="govuk-body">Offer a placement or find out more about their T Level programme.</p>
                    <form role="search" class="tl-fap-search-providers-form">
                        <span class="govuk-error-message tl-hidden" id="tl-search-term-error">You must enter a postcode or town</span>
                        <label class="govuk-visually-hidden" for="tl-search-term">Enter a postcode or town</label>
                        <input class="govuk-input govuk-input--width-10 tl-fap-home--input" id="tl-search-term" name="tl-search-term" type="text" placeholder="Enter a postcode or town">
                        <button class="govuk-button tl-button--blue tl-fap-home--submit" id="tl-search-providers" data-module="govuk-button">
                            Search
                        </button>
                    </form>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <span class="tl-fap-home--image"></span>
            </div>
        </div>
    </div>
</main>

<div>
    <input type="hidden" id="find_provider_api_uri" value=@Model.SearchApiUrl>
    <input type="hidden" id="find_provider_redirect_uri" value=@Model./Index>
</div>

@section Scripts {
    @*    <script src="{{asset 'accessible-autocomplete.min.js'}}"></script>
    <script src="{{asset 'accessible-autocomplete.min.js'}}"></script>
*@
@*<script src="~/js/accessible-autocomplete.min.js" asp-append-version="true"></script>*@
@*<script src="~/js/locationAutocomplete.js" asp-append-version="true"></script>*@
    <script src="~/js/fapTile.js" 
            data-findProviderRedirectUrl="/hc/en-gb/articles/{{settings.article_id_find_provider}}"
            data-findProviderApiUri="{{ settings.find_provider_api_uri }}"
            asp-append-version="true">
    </script>

    @*<script src="{{asset 'fapTile.js'}}"></script>*@
    <script>
        //Need this to be global scope for autocomplete
        //let findProvidersApiUrl = "{{ settings.find_provider_api_uri }}";
        //Next line is for use in local razor page testing only
        //if ($('#find_provider_api_uri')) findProvidersApiUrl = $('#find_provider_api_uri').val();
        //if (findProvidersApiUrl.substr(-1) !== '/') findProvidersApiUrl += '/';

        //const findProviderRedirectUrl = '/hc/en-gb/articles/{{settings.article_id_find_provider}}';
//        const findProviderRedirectUrl = '/Index';
        
        //$(location).attr('href', '/hc/en-gb/articles/{{settings.article_id_find_provider}}?searchTerm=' + encodeURIComponent(searchTerm));

        //Need to set the above as a global - can we use a module instead?

    </script>
}
