@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* ReSharper disable UnknownCssClass *@
<main id="main-content" role="main">
    <div class="govuk-width-container govuk-main-wrapper govuk-!-padding-top-0">

        <!-- Search Box -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-margin-top-9 govuk-!-margin-bottom-7">{{article.title}}</h1>
                <div class="tl-article--content">{{article.body}}</div>
            </div>
        </div>
        <div class="govuk-grid-row">

            <form role="search" class="tl-fap-search-providers-form">

                <div class="govuk-grid-column-one-third govuk-!-margin-top-7">
                    <div class="tl-search--filter">
                        <h3>Enter a postcode or town</h3>
                        <div class="tl-search--filter--content govuk-!-margin-top-2">
                            <span class="govuk-error-message tl-hidden" id="tl-search-term-error">Enter a postcode or town</span>
                            <label class="govuk-visually-hidden" for="tl-search-term">Enter a postcode or town</label>
                            <p class="govuk-body govuk-!-margin-bottom-2">For example, S1 2JF, S1 or Sheffield</p>
                            <input class="govuk-input govuk-input--width-10 govuk-body-s" id="tl-search-term" name="tl-search-term" type="text" placeholder="Enter a postcode or town">
                            <button class="govuk-button tl-button--blue tl-search--filter--button" id="tl-search-providers" data-module="govuk-button">
                                Search
                            </button>
                            <button class="govuk-button tl-button--green govuk-!-margin-left-1 govuk-!-margin-top-2" id="tl-register-interest" data-module="govuk-button">
                                Register interest
                            </button>
                        </div>
                    </div>
                    <div class="tl-search--filter">
                        <h3>Filter by skill area</h3>

                        <div class="tl-search--filter--content">
                            <!-- TODO: Add an example of styled checkboxes -->
                            <div class="govuk-form-group govuk-!-margin-bottom-2 tl-pane-expandable__content" style="background-color: white; padding: 10px">
                                <div class="govuk-checkboxes govuk-checkboxes--small" id="tl-skill-area-filter">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="govuk-button tl-button--green" id="tl-update-search-providers" data-module="govuk-button">
                        Update results
                    </button>
                </div>
            </form>
            
            <!-- Error -->
            <div class="govuk-grid-column-two-thirds tl-hidden govuk-!-margin-top-7" id="tl-error">
                <h2 class="govuk-heading-l" id="tl-error-header"></h2>
                <p class="govuk-body" id="tl-error-detail"></p>
            </div>

            <!-- Search Results -->
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-7">
                <div id="tl-fap--results">
                    <div class="tl-fap--noresult tl-hidden">
                        <h2 class="govuk-heading-l">0 results</h2>
                        <p class="govuk-body">Enter a postcode or town name to see the nearest T Level schools and colleges.</p>
                    </div>
                    <div class="tl-fap--result">
                    </div>
                </div>
                <p class="govuk-body"><a class="govuk-link tl-hidden" id="tl-next-results-link" href="more-results">Show more results</a></p>
            </div>
        </div>
    </div>
</main>
@* ReSharper restore UnknownCssClass *@

<!-- Hidden fields to pass parameters to script -->
<div>
    <input type="hidden" id="find_provider_api_uri" value=@Model.SearchApiUrl>
    <input type="hidden" id="find_provider_api_app_id" value=@Model.ApiAppId>
    <input type="hidden" id="find_provider_api_key" value=@Model.ApiKey>
    <input type="hidden" id="qualification_article_map" value=@Model.QualificationArticleMap>
    <input type="hidden" id="article_base_url" value=@Model.ArticleBaseUrl>
</div>

@section Scripts {
    @*<script src="{{asset 'fap.js'}}"*@
    <script src="~/js/fap.js" 
            data-findProviderApiUri="{{ settings.find_provider_api_uri }}"
            data-findProviderAppId="{{ settings.find_provider_api_app_id }}"
            data-findProviderApiKey="{{ settings.find_provider_api_api_key }}"
            asp-append-version="true">
    </script>

    <script type="text/javascript">
    /* New code for Employer Registration */
    $(document).ready(function() {

        //See https://stackoverflow.com/questions/17604379/shopping-cart-cookies-only-holding-2-5-items

        console.log('checking cookie');
        const cookieSelectedProviders = readCookie('selected_provider_basket');

        if (cookieSelectedProviders) {
            console.log('selected providers cookie found');
            console.log(cookieSelectedProviders);
            let selectedProviders = JSON.parse(cookieSelectedProviders);
            console.log(selectedProviders);
            $.each(JSON.parse(cookieSelectedProviders),
                function(_, item) {
                    console.log(item.ukPrn);
                    console.log(item.name);
                });
        } else {
            console.log('creating selected providers cookie');
            const data = [
                {
                    ukPrn: 1,
                    name: 'test 1'
                },
                {
                    ukPrn: 1,
                    name: 'test 2'
                }
            ];

            console.log('writing cookie');
            writeCookie('selected_provider_basket', JSON.stringify(data), 60);
            console.log('wrote cookie');
            //writeCookie('selected_provider_basket', data, 60);
            $.each(data,
                function(_, item) {
                    console.log('item: ');
                    console.log(item.ukPrn);
                    console.log(item.name);
                });
        }
    });

    $("#tl-register-interest").click(function() {
        event.stopPropagation();
        event.preventDefault();

        console.log("adding register interest button/checkbox/link");
        
        $('#tl-fap--results .tl-fap--result').each(
            function (_, item) {
                //skillAreaIds.push(item.value);
                console.log(item);
                console.log("inserting link..");
                //const coursesElement = item.child
                $('<a href="#">Register your interest</a>')
                    .insertAfter(
                        $(this).children(".tl-fap--courses")
                        //item(".tl-fap--courses")
                    //Probably better to build this link in 
                    //  populateProviderSearchResults - include ukprn
                    //See https://stackoverflow.com/questions/6085354/pass-lots-of-data-from-a-single-anchor-tag
                );
            });
        
        return false;
    });
    </script>
}
