@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main id="main-content" role="main">
    <div class="govuk-width-container govuk-main-wrapper govuk-!-padding-top-0">

        <!-- Search Box -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-margin-top-7 govuk-!-margin-bottom-7">Test</h1>
                <p>Api url: @Model.ApiUrl</p>
                <p>Api url: @Model.ApiAppId</p>
                <p>Api url: @Model.ApiKey</p>
            </div>
        </div>
    </div>
</main>
