@page
@model EmployerDetailsModel
@{
}
@section breadcrumbs {
<a asp-page="/EmployerList" class="govuk-back-link" id="tl-back">Return to employer list</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Lloyds Banking Group</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Organisation details</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Website</th>
              <td class="govuk-table__cell"><a href="https://www.lloydsbank.com" class="govuk-link">https://www.lloydsbank.com</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Primary industry</th>
              <td class="govuk-table__cell">Financial services</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Industry placement skill areas</th>
              <td class="govuk-table__cell">
                  <ul class="govuk-list govuk-!-margin-bottom-0">
                      <li>Digital and IT, Financial services</li>
                      <li>Digital and IT, Financial services</li>
                  </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Location</th>
              <td class="govuk-table__cell">SO63 9AJ</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Additional details</th>
              <td class="govuk-table__cell">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table govuk-!-margin-top-8">
          <caption class="govuk-table__caption govuk-table__caption--m">Contact details</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
              <td class="govuk-table__cell">Sarah Philips</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Email</th>
              <td class="govuk-table__cell">sarah.philips@lloyds.com</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Telephone</th>
              <td class="govuk-table__cell">07525 707601</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Contact preference</th>
              <td class="govuk-table__cell">Email</td>
            </tr>
          </tbody>
        </table>

        <a asp-page="/EmployerList" class="govuk-button" id="tl-back">Return to employer list</a>

    </div>
</div>
