@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
        
        @*This should not be displayed - page should redirect to start page automatically*@
        <p class="govuk-body"><a class="govuk-link" asp-page="/Start">Go to the start page</a></p>
    </div>
</div>