@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">You need to sign in to use this service</h2>
        <p class="govuk-body">Click continue.</p>

        <div class="govuk-form-group">
            <a asp-action="SignIn" asp-controller="Account" id="tl-login" class="govuk-button" id="tl-login">Continue</a>
        </div>
    </div>
</div>